  <div>
    <!-- <%= layout_menu_link_to t("layouts.header.my_account_link"),
                            account_path,
                            controller_name == "account",
                            rel: "nofollow",
                            title: t("shared.go_to_page") +
                              t("layouts.header.my_account_link"),
                            class: "default-button" %> -->
    <% if request.original_url.include?('budgets/1/investments') %>
      <% if @budget.id == 1 %>
        <a class="default-button action-color" href="<%= budget_investments_url(budget_id: 2) %>">
          <%= t("budgets.investments.header.go_to_young_budget") %>
        </a>
      <% end %>
    <% elsif request.original_url.include?('budgets/2/investments') %>
      <% if @budget.id == 2 %>
        <a class="default-button action-color" href="<%= budget_investments_url(budget_id: 1) %>">
          <%= t("budgets.investments.header.go_to_regular_budget") %>
        </a>
      <% end %>
    <% end %>
  </div>
<% if user_signed_in? %>
  <!-- <div>
    <%= layout_menu_link_to t("layouts.header.my_account_link"),
                            account_path,
                            controller_name == "account",
                            rel: "nofollow",
                            title: t("shared.go_to_page") +
                              t("layouts.header.my_account_link"),
                            class: "default-button" %>
  </div> -->
  <div>
    <%= link_to t("devise_views.menu.login_items.logout"),
                destroy_user_session_path, rel: "nofollow", method: :delete, class: "default-button" %>
  </div>
<% else %>
  <div>
    <%= link_to t("devise_views.menu.login_items.login"),
                new_user_session_path, rel: "nofollow", class: "default-button" %>
  </div>
<% end %>
