<div class="landings">
  <div class=" bggray">
    <div class="main-indented-content">
      <div class="row">
        <div class="small-12 medium-9 medium-centered text-center">
          <h2><%= t("custom.headings.#{phase.kind}") %>!</h2>
          <p><%= phase.summary %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="main-indented-content ">
      <div class="row qs">
        <div class="small-12 medium-6 column ">
          <div class="medium-8 medium-centered js-padt">
            <h2><%= t("custom.presentation.finished.title_1") %></h2>
            <p><%= phase.presentation_summary_1 %></p>
          </div>
        </div>
        <div class="small-12 medium-6 column ">
          <div class="medium-centered">
            <%= image_tag(image_path_for("phases/kajpazdaj.png")) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" bggray">
    <div class="main-indented-content ">
      <div class="row qs">
        <div class="small-12 medium-6 column hide-for-small-only">
          <div class=" medium-centered">
            <%= image_tag(image_path_for("phases/participacija.png")) %>
          </div>
        </div>
        <div class="small-12 medium-6 column ">
          <div class="medium-8 medium-centered js-padt">
            <h2><%= t("custom.presentation.finished.title_2") %></h2>
            <p><%= phase.presentation_summary_2 %></p>
          </div>
        </div>
        <div class="small-12 show-for-small-only">
          <div class="medium-centered">
            <%= image_tag(image_path_for("phases/participacija.png")) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="main-indented-content ">
      <div class="row qs">
        <div class="small-12 medium-6 column ">
          <div class="medium-8 medium-centered js-padt">
            <h2><%= t("custom.presentation.finished.title_3") %></h2>
            <p><%= phase.presentation_summary_3 %></p>
          </div>
        </div>
        <div class="small-12 medium-6 column">
          <div class="medium-centered">
            <%= image_tag(image_path_for("phases/potem.png")) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
