<div class="main-indented-content">
  <div class="budget-investment-new row">
    <div class="column">
      <div class="small-12">
        <div class="row">
          <div class="small-12 medium-7 column form">
            <%= link_to budget_investments_path(@budget), class: "back" do %>
              <i class="custom-icon arrow-small-left"></i>&nbsp;<span class="text"><%= t("shared.back") %></span>
            <% end %>

            <h1><%= t("management.budget_investments.create") %></h1>

            <%= render "/budgets/investments/form", form_url: budget_investments_path(@budget) %>
          </div>
          <div class="small-12 medium-5 column">
            <div class="sidebar">
              <h3><%= t("custom.headings.instructions") %></h3>
              <p>
                <strong>
                  <a href="https://consul-nova-gorica.s3.fr-par.scw.cloud/v6UGmpKupdF3ZN8pkUoxeGUy?response-content-disposition=inline%3B%20filename%3D%22IZPOLNJEN%20PRIMER%20PROJEKTA_PP%202024-2026.pdf%22%3B%20filename%2A%3DUTF-8%27%27IZPOLNJEN%2520PRIMER%2520PROJEKTA_PP%25202024-2026.pdf&response-content-type=application%2Fpdf&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=SCWJJN7N9B005HYFJMKE%2F20240314%2Ffr-par%2Fs3%2Faws4_request&X-Amz-Date=20240314T114122Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=0cc772437ad72503a02ef1f202eb6ad73201f2f053e0ae3bd2b2e6b539851a72" target="_blank">
                    Primer izpolnjenega obrazca
                  </a>
                </strong>
              </p>
              <%= raw t("custom.headings.instructions_description") %>
              <hr />
              <h3><%= t("custom.headings.headings") %></h3>
              <ul class="custom-list recommendations">
                <%= raw t("custom.headings.headings_sidebar") %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
