<div class="main-indented-content">
  <div class="budget-investment-new row">
    <div class="column">
      <div class="small-12">
        <div class="row">
          <div class="small-12 medium-7 column form">
            <%= link_to budget_investments_path(@budget), class: "back" do %>
              <i class="custom-icon arrow-small-left"></i>&nbsp;<span class="text"><%= t("shared.back") %></span>
            <% end %>

            <h1><%= t("management.budget_investments.create") %></h1>

            <%= render "/budgets/investments/form", form_url: budget_investments_path(@budget) %>
          </div>
          <div class="small-12 medium-5 column">
            <div class="sidebar">
              <h3><%= t("custom.headings.instructions") %></h3>
              <p>
                <strong>
                  <a href="https://participativni-proracun.nova-gorica.si/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBOQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1df95ffaf371102bc5ff6aacbdf22d080fda540e/IZPOLNJEN%20PRIMER%20PROJEKTA_PP%202024-2026.pdf" target="_blank">
                    Primer izpolnjenega obrazca
                  </a>
                </strong>
              </p>
              <%= raw t("custom.headings.instructions_description") %>
              <hr />
              <h3><%= t("custom.headings.headings") %></h3>
              <ul class="custom-list recommendations">
                <%= raw t("custom.headings.headings_sidebar") %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
