<div class="main-indented-content">
  <div class="row">
    <div class="column">
      <div class="footer-logos">
          <div>
            <%= t('custom.footer.consul_html') %>
          </div>
          <div>
            <%= t('custom.footer.djnd_html') %>
          </div>
          <div class="logo-right">
            <a href="<%= t('custom.footer.municipality_url') %>" target="_blank">
              <%= image_tag(image_path_for("municipalities/ankaran-grb.svg"), alt: "Logotip občine") %>
            </a>
            <%= t('custom.footer.municipality_html') %>
          </div>
      </div>
    </div>
  </div>
</div>