<footer>
<!-- main-indented-content ??? -->
  <div class="bgblack">
    <div class="main-indented-content">
      <div class="row">
        <div class="column">
          <div class="footer-links-wrapper">
            <ul class="no-bullet inline-block footer-links">
              <li><%= link_to t("custom.titles.about"), page_path("o-participativnem-proracunu") %><span>|<span></li>
              <li>
                <%= layout_menu_link_to t("layouts.header.help"),
                                        help_path,
                                        current_page?(help_path),
                                        accesskey: "6",
                                        title: t("shared.go_to_page") + t("layouts.header.help") %>
              <span>|</span></li>
              <li>
                <%= link_to t("custom.footer.accessibility"), page_path("izjava-o-dostopnosti") %><span>|</span>
              </li>
              <li><%= link_to t("custom.italy.privacy.title"), page_path("privacy") %><span>|</span></li>
              <li><%= link_to t("custom.italy.cookies.title"), page_path("cookies") %><span>|</span></li>
              <li><%= link_to t("custom.italy.transparency.title"), page_path("transparency") %><span>|</span></li>
              <li><%= link_to t("custom.italy.legal.title"), page_path("legal") %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- financer logo -->
  <%# render "layouts/footer_financer_banner" %>
  <!-- logos -->
  <%= render "layouts/footer_logos_banner" %>
</footer>
