<header>
  <div class="row">
    <div class="top-bar">
			<div class="small-12 large-2 column ">
			<%= link_to root_path, accesskey: "0", class: 'site-title' do %>
      <h1 class="logo <%= t("custom.classes.footer_logo") %>"></h1>
    </div>
      <div class="site-title-holder">
          <!--<span class="site-name"><%= t("custom.meta.pp_name") %></span>&nbsp;/&nbsp;<span class="place-name"><%= t('custom.meta.place_name') %></span>-->
        <% end %>
      </div>

      <!--<div class="language-picker">
        <%= render "shared/locale_switcher" %>
      </div>-->
    </div>
  </div>
</header>
