<% provide :title do %><%= t("custom.privacy.title") %>
<% end %>
<% content_for :canonical do %>
<%= render "shared/canonical", href: page_url("pogoji-uporabe") %>
<% end %>

<main>
  <div class="row privacy">
    <div class="main-indented-content">
      <div class="small-12 medium-10 column medium-centered">

        <h1 dir="ltr"><%= t("custom.terms.main_title") %></h1>
        <p><%= t("custom.terms.date") %></p>
        <br/>
        <p><%= t("custom.terms.intention") %></p>
        <p dir="ltr">
          Aktivna uporaba spletnega orodja se ureja s pogoji uporabe, ki jih najdeš <a href="https://consul-trebnje.s3.fr-par.scw.cloud/Pogoji%20uporabe%20in%20varstvo%20osebnih%20podatkov%20CONSUL%20Trebnje.pdf">TUKAJ</a>.
        </p>
        <p dir="ltr">
          <%= t("custom.terms.responsibilities_sixth") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.responsibilities_list") %>
        </p>
        <ul>
          <li>
            <%= t("custom.terms.responsibilities_list_first") %>
          </li>
          <li>
            <%= t("custom.terms.responsibilities_list_second") %>
          </li>
          <li>
            <%= t("custom.terms.responsibilities_list_third") %>
          </li>
          <li>
            <%= t("custom.terms.responsibilities_list_fourth") %>
          </li>
        </ul>
        <p dir="ltr">
          <%= t("custom.terms.responsibilities_seventh") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.responsibilities_eighth") %>
        </p>

        <br/>
        <h2 dir="ltr"><%= t("custom.terms.data_protection_title") %></h2>
        <p dir="ltr">
          <%= t("custom.terms.data_protection_first") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.data_protection_first_note1") %>
          <br/>
          <%= t("custom.terms.data_protection_first_note2") %>
          <br/>
          <%= t("custom.terms.data_protection_first_note3") %>
          <br/>
          <%= t("custom.terms.data_protection_first_note4") %>
          <br/>
          <%= t("custom.terms.data_protection_first_note5") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.data_protection_second") %>
        </p>
        <p dir="ltr" style="margin-left:36pt;">
          <%= t("custom.terms.data_protection_second_note1") %>
          <br/>
          <%= t("custom.terms.data_protection_second_note2") %>
          <br/>
          <%= t("custom.terms.data_protection_second_note3") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.data_protection_third") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.data_protection_fourth") %>
        </p>

        <br/>
        <h3 dir="ltr"><%= t("custom.terms.data_use_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.data_use_list") %>
        </p>
        <ul>
          <li dir="ltr">
            <p dir="ltr"><%= t("custom.terms.data_use_list_li1") %></p>
          </li>
        </ul>

        <br/>
        <h3 dir="ltr"><%= t("custom.terms.data_store_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.data_store_list") %>
        </p>
        <ul>
          <li dir="ltr">
            <%= t("custom.terms.data_store_list_li1") %>
          </li>
          <li dir="ltr">
            <%= t("custom.terms.data_store_list_li2") %>
          </li>
          <li dir="ltr">
            <%= t("custom.terms.data_store_list_li3") %>
          </li>
        </ul>
        <p dir="ltr">
          <%= t("custom.terms.data_store_first") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.data_store_second") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.data_process_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.data_process_first") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.data_time_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.data_time_first") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.data_insight_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.data_insight_first") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.data_insight_second") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.data_insight_third") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.data_insight_list") %>
        </p>
        <ol>
          <li dir="ltr">
            <p>
              <%= t("custom.terms.data_insight_list_li1") %>
              <ul>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li1_subli1") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li1_subli2") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li1_subli3") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li1_subli4") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li1_subli5") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li1_subli6") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li1_subli7") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li1_subli8") %></li>
              </ul>
            </p>
          </li>
          <li dir="ltr">
            <p>
              <%= t("custom.terms.data_insight_list_li2") %>
            </p>
          </li>
          <li dir="ltr">
            <p>
              <%= t("custom.terms.data_insight_list_li3") %>
              <ul>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li3_subli1") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li3_subli2") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li3_subli3") %></li>
              </ul>
            </p>
          </li>
          <li dir="ltr">
            <p>
              <%= t("custom.terms.data_insight_list_li4") %>
              <ul>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li4_subli1") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li4_subli2") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li4_subli3") %></li>
                <li dir="ltr"><%= t("custom.terms.data_insight_list_li4_subli4") %></li>
              </ul>
            </p>
          </li>
          <li dir="ltr">
            <p>
              <%= t("custom.terms.data_insight_list_li5") %>
            </p>
          </li>
          <li dir="ltr">
            <p>
              <%= t("custom.terms.data_insight_list_li6") %>
            </p>
          </li>
          <li dir="ltr">
            <p>
              <%= t("custom.terms.data_insight_list_li7") %>
            </p>
          </li>
        </ol>
        <p dir="ltr">
          <%= raw t("custom.terms.data_insight_fourth") %>
        </p>
        <p dir="ltr" style="margin-left:36pt;">
          <%= t("custom.terms.data_insight_fourth_note1") %>
          <br/>
          <%= t("custom.terms.data_insight_fourth_note2") %>
          <br/>
          <%= t("custom.terms.data_insight_fourth_note3") %>
        </p>

        <br/>
        <h2 dir="ltr"><%= t("custom.terms.cookies_title") %></h2>
        <p dir="ltr">
          <%= t("custom.terms.cookies_intro") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.cookies_what_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.cookies_what_intro") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.cookies_why_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.cookies_why_intro") %>
        </p>

        <h3 dir="ltr"><%= t("custom.terms.cookies_min_title") %></h3>
        <p dir="ltr">
          <%= t("custom.terms.cookies_min_intro") %>
        </p>
        <p dir="ltr">
          <%= t("custom.terms.cookies_list") %>
        </p>
        <ul>
          <li dir="ltr">
            <strong><%= t("custom.terms.cookies_list_li1") %></strong>
            <br/>
            <%= t("custom.terms.cookies_list_li1_desc") %>
          </li>
          <li dir="ltr">
            <strong><%= t("custom.terms.cookies_list_li2") %></strong>
            <br/>
            <%= t("custom.terms.cookies_list_li2_desc") %>
          </li>
        </ul>

        <br/>
        <h2 dir="ltr"><%= t("custom.terms.ip_title") %></h2>
        <p dir="ltr">
          <%= raw t("custom.terms.ip_intro") %>
        </p>
      </div>
    </div>
  </div>
</main>
