<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :title do %><%= t("budgets.investments.index.title") %><% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags", social_url: root_url %>
<% end %>

<main>
  <article class="main-indented-content">
    <div class="row">
      <div class="column">
        <div class="landing">
          <div class="introduction-text">
            <h1><%= t("custom.landing.title") %></h1>
            <p><%= t("custom.landing.introduction_text") %></p>
            <!-- TODO: can we get current budget - current phase url directly? -->
            <% if current_budget.present? %>
              <% current_budget.custom_phases(current_user, method(:budget_investments_url)).each do |_, phase| %>
                <% if phase.enabled && phase.active %>
                  <a class="action-button large" href="<%= phase.url %>">
                    <%= t("devise_views.sessions.new.submit") %>&nbsp;<i class="custom-icon arrow-small-right"></i>
                  </a>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <hr />
          <div class="welcome-columns">
          <% if current_budget.present? %>
            <% current_budget.custom_phases(current_user, create_url = method(:budget_investments_url)).each do |phase_name, phase| %>
              <% if phase.enabled %>
                <section class="welcome-column">
                  <div class="phase-enrichment-holder">
                    <div class="phase-enrichment <%= phase.kind %>"></div>
                  </div>
                  <div class="column-content">
                    <h2><%= t("custom.headings.#{phase.kind}") %></h2>
                    <h4><%= strip_tags(phase.summary) %></h4>
                    <% unless phase.active %>
                    <!-- <div>
                        TEGA JE DAL FILIP NOT IN POTEM UMAKNIL, KER JE MB TAKO HOTEL, NASLEDNJA DVA STA BILA ZAKOMENTIRANA<div class="large-description"><%= sanitize_and_auto_link phase["presentation_summary_#{phase_name}"] %></div>
                        <div class="large-description"><%= sanitize_and_auto_link phase.summary %></div>
                        <% if phase.description %>
                          <div class="large-description"><%= sanitize_and_auto_link phase.description %></div>
                        <% end %>
                      </div> -->
                    <% end %>
                    <% if phase.active %>
                      <a class="action-button large" href="<%= phase.url %>">
                        <%= t("devise_views.sessions.new.submit") %>&nbsp;<i class="custom-icon arrow-small-right"></i>
                      </a>
                    <% end %>
                  </div>
                </section>
              <% end %>
            <% end %>
          <% else %>
            <section class="welcome-column">
              <div class="no-budget">
                <%= image_tag(image_path_for("vote.png")) %>
              </div>
              <div class="column-content">
                <h2><%= t("custom.headings.#{phase.kind}") %></h2>
                <h4><%= strip_tags(phase.summary) %></h4>
                <% unless phase.active %>
                  <div>
                    <% if phase.description %>
                      <div class="large-description"><%= sanitize_and_auto_link phase.description %></div>
                    <% end %>
                  </div>
                <% end %>
                <% if phase.active %>
                  <a class="action-button large" href="<%= phase.url %>">
                    <%= t("devise_views.sessions.new.submit") %>&nbsp;<i class="custom-icon arrow-small-right"></i>
                  </a>
                <% end %>
              </div>
            </section>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row phase-description">
      <div class="large-8 column">
        <div class="mayor">
          <div class="introduction-text">
            <h1>Spoštovane občanke in občani!</h1>
            <p>Vsak od nas je gradnik skupnosti, v kateri živimo - najpomembnejšo ožjo skupnost predstavlja družina, širša, a prav tako pomembna skupnost za vsakega posameznika pa je tudi občina. Ta močno vpliva na naša življenja, saj zagotavlja delovanje številnih vsebin; skrbi za vrtec in osnovno šolo, oskrbo z vodo, kanalizacijo, odvoz odpadkov, občinske ceste in infrastrukturo, urejanje okolice, glasbeno šolo, kulturne vsebine, knjižnico, zdravstvene ambulante in lekarno, programe za starejše, socialne pomoči, športno infrastrukturo in ne nazadnje sofinancira delovanj športnih, kulturnih in drugih društev. </p>
            <p>Prebivalke in prebivalci Ankarana smo člani lokalne skupnosti Občine Ankaran. Nastanek naše občine in njena prehojena pot sta v mnogočem drugačna od ostalih. Občina Ankaran je edina občina v Republiki Sloveniji, ki je nastala na podlagi neposrednega angažiranja prebivalcev Ankarana, ki smo s ciljem zaščite narave in svojega življenjskega prostora podali pobudo za ustanovitev lastne občine ter njeno ustanovitev nazadnje dosegli s pomočjo Ustavnega sodišča RS.</p>
            <p>Od začetka delovanja občine 1. januarja 2015 smo bili občani in občanke Ankarana vključeni v pripravo vseh ključnih dokumentov za razvoj občine: občinski prostorski načrt, ustanovitev krajinskega parka, dolgoročni razvojni načrt.... Že od priprave prvega samostojnega proračuna občine za leto 2016 smo na poziv strokovnih služb občine vsako leto podajali pobude za projekte in vsebine, ki (smo) si jih želeli v občini. Na tak način je bilo v preteklih  letih prejetih okoli 950 pobud, izmed katerih jih je že veliko izvedenih, nekaj jih je še v teku, tiste največje pa bodo zaradi zahtevnosti izvedene v dolgoročnem obdobju.</p>
            <p>To prakso sodelovanja in vključevanja občank in občanov pri oblikovanju ključnih odločitev v občini si želimo pri pripravi načrta dela občine Ankaran za leto 2025 in 2026 še nadgraditi. S tem namenom se uvaja glasovanje občank in občanov o umestitvi posameznih projektov v predlog proračuna oziroma t.i. participativni proračun. S pomočjo participativnega proračuna lahko občanke in občani sami prepoznajo potrebe ali možnosti izboljšav, predlagajo rešitve ali projekte ter v zadnji fazi tudi izmed podanih predlogov z demokratičnim glasovanjem izberejo tiste, ki se v nadaljevanju realizirajo.</p>
            <p>V želji, da se kot skupnost še bolj povežemo ter s skupnimi močmi uredimo naš življenjski prostor vas vabim, da sodelujete s svojimi predlogi, predlagate projekte in na glasovanju izberete tiste, ki naj se v letih 2025 in 2026 v naši občini izvedejo. Bodimo aktivni člani skupnosti, da bo ta še bolj po naši meri.</p>
            <p>Gregor Strmčnik, župan</p>
          </div>
        </div>
      </div>
      <div class="large-4 column mayor-image">
        <%= image_tag(image_path_for("mayor.jpg"), alt: "") %>
      </div>
    </div>
  </article>
</main>
<% if @past_budgets.present? %>
<div class="main-indented-content">
  <div class="landing">
    <div class="list">
      <h2><%= t("custom.landing.title_past") %></h2>
      <% @past_budgets.each do |budget| %>
        <a class="list-element" href="budgets/<%= budget.id %>/investments">
          <div>
            <h3><%= budget.name %></h3>
            <p><%= t("custom.landing.past_list_description") %></p>
          </div>
          <div class="more">
            <span><%= t("custom.landing.past_list_more") %></span> <i class="custom-icon arrow-small-right"></i>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
<% end %>
